header li a:hover {
  border-bottom: 1px solid #fff;
}

body {
  background-color: #121212;
  color: white;
}

.info {
  display: flex;
  justify-content: center;
}

.info p {
  padding: 20px;
  width: 95%;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header li a {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  .info {
    display: flex;
    justify-content: center;
  }

  .info p {
    padding: 20px;
    width: 95%;
    text-align: center;
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  header li a {
    display: none;
  }

  .info {
    display: flex;
    justify-content: center;
  }

  .info p {
    padding: 20px;
    width: 95%;
    text-align: center;
    display: flex;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
}
